.container {
  width: 960px;
  margin: 0 auto;
}

.title{
    font-size:35px;
    padding-top:32px;
    padding-legt:26px;
    
    
    
}

header{
    display:flex;
    padding-left:26px;
    color:#707070;
    width:100%;
    padding: bottom 27.5px;
    height:92px;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    justify-content: space-between;
}

.header-right{
    display:flex;
    font-size:20px;
    margin-top:42px;
    margin-right:75px;

}

.top{
    margin-right:28px;
}

.latest{
    margin-right:28px;
}

.top-image {
    width: 100%;
}

.top-image{
    widows: 960px;
    height: 546.25px;
}

@media screen and (max-width:959px) {
 
 .container{
     width:100%;

 }
}
 