.container {
  width: 960px;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  color: #707070;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  margin-left: 26px;
  margin-bottom: 25px;
}

.latest {
  margin-bottom: 36px;
}

.articles {
  margin: 0px 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article {
  margin-top: 25px;
  width: 300px;
}

.article-thumbnail {
  width: 300px;
  height: 176px;
}

.article-content {
  font-size: 20px;
  line-height: 34px;
  margin-top: 25px;
  color: #707070;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

.readMore {
  text-align: right;
}

.readMore a {
  text-decoration: none;
  color: #6D86ED;
  font-size: 20px;
  line-height: 34px;
}

.contact {
  margin-bottom: 50px;
}

.contact-form {
  width: 586px;
  margin: 0 auto;
}

.contact-form input, textarea {
  width: 100%;
  margin-bottom: 30px;
}

.contact-form input {
  height: 48px;
  box-sizing: border-box;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #D0D0D0;
  font-size: 20px;
  line-height: 34px;
  text-indent: 17px;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 30px;
  border-color: #D0D0D0;
  height: 240px;
}

.submit {
  height: 48px;
  background-color: #8E8E8E;
  color: #FFFFFF;
  font-size: 20px;
}

footer {
  height: 56px;
  background-color: #111111;
  color: #FFFFFF;
  line-height: 56px;
  font-size: 20px;
  text-indent: 20px;
}